.sidebar-menu{
    font-size: 36px;
    color: white;
}

@media only screen and (max-width: 992px) {
   .sidebar-menu {
       font-size: 30px;
   }
}
@media only screen and (max-width: 576px) {
    .sidebar-menu {
        font-size: 24px;
    }
}